<li class="board-index"><detail class="details group"><a class="board-link" href="#boards/<%= board.get("id") %>"> <%= board.escape("title") %></a>
<button class="delete">Delete</button></detail></li>
